* {
  background-color: rgb(248, 217, 140);
}

.App {
  text-align: center;
}

h1 {
  color: rgb(227, 162, 0);
}

.answers {
  display: flex;
  justify-content: center;
}

.answerBtn {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px solid rgb(81, 138, 150);
  border-radius: 10px;
  margin-right: 1em;
  margin-left: 1em;
  min-width: 12em;
}

.container {
  padding: 2em;
}

.question {
  padding: 1em;
}